/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
.bg-dark {
    background-color: #17a2b8!important;
}
.sumeer-logo {
width: 5%;
height: 90%;
margin-left: 75%;
background-image: url(./assets/sumeerhomes.png);
background-size: 100% 100%;
}
img {
    height: 75px;
}
input[type='file'] {
    opacity:transparent;   
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-toolbar.mat-primary {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FDB931 0%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top,  #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
    color: #fff;
    height: 14%;
}
.mat-tab-label, .mat-tab-link, .mat-header-cell, .mat-ink-bar {
  color: #8A6E2F;
}
.mat-tab-label, .mat-tab-link  :hover{
  color: #8A6E2F;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  color: #8A6E2F !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #8A6E2F !important;
}